/*
*	 Author: Vijay Kumar
*	 Template: Archon - Flat & Responsive Bootstrap Admin Template
*	 Version: 1.0
*	 Bootstrap version: 3.0.0
*	 Copyright 2013 bootstrapguru
*	 www: http://bootstrapguru.com
*	 mail: support@bootstrapguru.com
*	 You can find our other themes on: https://bootstrapguru.com/themes/
---------------------------------------------------------------------------------------------- */

.subMenuCustom{
    background-color: #B2C2DF;
  }
.navbar{
	background-color: #F7F7F7;
	border-bottom:1px solid #999;
}
.navbar-header{
	margin:15px;
}
.navbar-brand{
	display:block;
	width:141px;
	height:60px;
	background:url(../../img/logo.png) no-repeat; 
}
	.navbar-brand span{
		display:none;
	} 