/*
*  Author: Vijay Kumar
*  Template: Cascade - Flat & Responsive Bootstrap Admin Template
*  Version: 1.0
*  Bootstrap version: 3.0.0
*  Copyright 2013 bootstrapguru
*  www: http://bootstrapguru.com
*  mail: support@bootstrapguru.com
*  You can find our other themes on: https://bootstrapguru.com/themes/
---------------------------------------------------------------------------------------------- */
/*   Import External Css Files
---------------------------------------------------------------------------------------------- */
/******************* Color variables *********************/
/*	 Global Color variables @requested not to change these values if you are not sure of what you are doing
----------------------------------------------------------------------------------------------------------- */
/*	 Navbar variables @you change these variables , make sure to get a good color combination ;)
-------------------------------------------------------------------------------------------------- */
/* Desired height is 90px , below 80px is not recommended */
/*	 LeftSidebar variables @you change these variables , make sure to get a good color combination ;)
-------------------------------------------------------------------------------------------------- */
/*	 LeftSidebar variables @you change these variables , make sure to get a good color combination ;)
-------------------------------------------------------------------------------------------------- */
/*	 Panels variables
-------------------------------------------------------------------------------------------------- */
html,
body {
  height: 100%;
}
.side-menu {
  top: 10% !important;
  border-radius: 0px;
  margin-left: -5px;
  position: fixed;
  z-index: 5000;
}
.side-menu a.active,
.side-menu a.active:hover {
  background: #2f4051;
  border-width: 0px;
}
section {
  position: relative;
  overflow: hidden;
  padding: 50px;
  width: 100%;
  height: 100%;
  background: #2F4051;
}
section:nth-child(2n) {
  background: #2f4051;
}
.login-holder {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -185px;
  margin-left: -205px;
  width: 420px;
  height: auto;
  background: white;
  padding: 10px;
}
.login-holder .user-avatar {
  border-radius: 50%;
  border: 5px solid #2f4051;
  width: 150px;
  margin-bottom: 20px;
}
.login-holder .form-group {
  border: 1px solid #425971;
  border-left: 10px solid #425971;
}
.login-holder .form-group .form-control {
  border-radius: 0px;
  padding: 20px;
}
.login-holder .form-footer {
  padding: 20px;
}
.login-holder .form-footer .btn-submit {
  margin-top: -10px;
}
.social-login {
  padding: 25px;
}
.not-found {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: auto;
  padding: 100px;
  font-size: 100px;
}
