
*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'PT Sans', sans-serif; 
}  
body{
	background:url(../img/bg_topo2.jpg) repeat-x;
}
h1{
	color:#666;
	font-weight:300;
	font-size:1.8em;
	margin:0 0 20px 0;
	font-family: 'Lato', sans-serif;
}
.h1_secao{
	color:#eb162c;
	font-weight:normal;
	font-size:1.1em;
	margin:0 0 0 0;
	text-transform:uppercase;
	font-family: 'Lato', sans-serif;
}
h2{
	color:#eb162c;
	font-weight:400; 
	font-size:1.1em; 
	font-family: 'Lato', sans-serif;
}
h2.case{
	margin:5px 0 14px 0;
	padding:0;
	color:#666;
}
h3.h3_secao{
	font-size:1em; 
	margin:0 0 0 0;
	padding:0;
	color: #999;
	font-weight:normal;
	text-transform:uppercase;
}
.depoimento_contato{
	color:#666;
	font-weight:bold;
}
a{
	color:#d61125;
	font-weight:bold;
}
a:hover{
	color:#5d5d5d;
}
.clientes a, .clientes h2{
	color:#666;
}
.bannercontainer span{
	font-weight:300;
	font-family: 'Lato', sans-serif;
	color: #4E4E4E;
}
.bannercontainer a:hover{
	text-decoration:none;
}
p{
	font-size:0.9em;
	line-height:1.6em;
	color:#333333;
	margin-bottom:10px;
	text-align:justify;
}

.navbar-header{ 
	height:93px;
}
.formbusca{  
	color:#00a6df; 
	margin-top:10px; 
	border-bottom: 1px solid #999;
	padding:0;
}
	.formbusca{
		margin-top:-5px;
	}  
.input-sm{
	background: none;
	border: 0;
	box-shadow: none; 
	border-radius:0;
	font-size:1em;
}	
.btn-group-sm>.btn{
	background: none;
	border: 0;
	box-shadow: none;
}
.btn-group-sm>.btn span{
	color:#999;
}
	
.navbar-brand{
	display:block;
	width:141px;
	height:60px;
	background:url(../img/logo.png) no-repeat; 
}
	.navbar-brand span{
		display:none;
	} 
.navbar-collapse{
	padding-left:0px;
}
.nav{  
	margin-top:5px;
}
.navbar{ 
	background-image:none;
	border-radius:0;
	/*margin-bottom:10px;*/
	margin-bottom:0px;
	-moz-box-shadow:none;
	box-shadow:none;
	font-size:0.9em;
	margin-top:10px;
}
.navbar-toggle{
	border-color:#00a6df;
}
.navbar-toggle .icon-bar {
	background: #00a6df;
}
.menu{
	padding:0;
	margin-top:0px; 
} 
.navbar-brand{margin-top:12px;}
.navbar-brand, .navbar-nav>li>a{
	text-shadow:none;
	color:#4d4d4d;
	text-transform:uppercase;
	font-weight:bold;
	cursor: pointer;
}
.navbar-nav>li>a{
	padding:9px;
	height: 49px;
	margin-right: 15px;
	cursor: pointer;
}
.nav>li>a:hover, .nav>li>a:focus, .nav>li.open>a, .nav>li.open>a:focus{
	background:none;
	border-bottom:7px solid #eb162c;
} 

.dropdown-menu { 
	background-color:#a6a6a6;
	padding:0; 
}
.dropdown-menu li{
	border-bottom:1px solid #9a9a9a;
	border-top:1px solid #bbbbbb; 
}
.dropdown-menu li a {
	color:#fff;
	font-size:0.9em;
	padding: 8px 20px 8px 10px;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background-color: #eee;
	border-color: #eb162c;
}

ul.nav li.dropdown:hover > ul.dropdown-menu { 
	background-color:#a6a6a6;
	padding:0; 
	/display:block;
}
ul.nav li.dropdown:hover > ul.dropdown-menu li{
	border-bottom:1px solid #9a9a9a;
	border-top:1px solid #bbbbbb; 
}
ul.nav li.dropdown:hover > ul.dropdown-menu li a {
	color:#fff;
	font-size:0.9em;
	padding: 8px 20px 8px 10px;
}
ul.nav li.dropdown:hover > ul.dropdown-menu li a:hover {
	background-color:#8c8c8c;
	background-image:none;
}
.nav .caret {
	border-top-color: #4d4d4d;
	border-bottom-color: #4d4d4d;
}

.dropdown-submenu {
    position: relative; 
}
.dropdown-submenu>.dropdown-menu {
	padding:0;
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: 0;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
	background-color:#a6a6a6; 
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
 
.submenu { 
	background-color:#a6a6a6;
	padding:0; 
}
.submenu li{
	border-bottom:1px solid #9a9a9a;
	border-top:1px solid #bbbbbb;  
}
.submenu li a{
	display:block;
	color:#fff;
	font-size:0.9em; 
	font-weight:normal;
	padding: 8px;
}
ul.submenu li a:hover{
	background-color:#8c8c8c;
	background-image:none;
	text-decoration:none;
}


ul.btsocial li{
	float:left;
	margin-right:3px;
	margin-top:10px;
}
ul.btsocial li a.social{
	display:block;
	width:30px;
	height:30px;
}
ul.btsocial li a.social span{ display:none;}
.tw{background:url(../img/social.png) 0 0;}
.fb{background:url(../img/social.png) 120px 0;}
.gm{background:url(../img/social.png) 90px 0;}
.en{background:url(../img/social.png) 60px 0;}
.br{background:url(../img/social.png) 30px 0;}
	.tw:hover{background:url(../img/social.png) 0 -30px;} 
	.fb:hover{background:url(../img/social.png) 120px -30px;}
	.gm:hover{background:url(../img/social.png) 90px -30px;}
	.en:hover{background:url(../img/social.png) 60px -30px;}
	.br:hover{background:url(../img/social.png) 30px -30px;}



.destaque{
	padding:0;
	margin-top:-10px;
}
.destaque_titulo{
	font-weight: bold; 
	font-size: 24px; 
	line-height: 28px; 
	color: #000;
	display:block;
	background-color: rgba(0,0,0, .3);	
	padding:10px;
	text-align:right;
} 


.box_news_home{
	margin-top:20px;   
}
.box_news_home img{ border:1px solid #eee;}
.box_news_home img{width:100%}
 
.box_news h2{
	color:#333;
	text-transform:uppercase;
}

ul.noticias{
	margin:0;
	padding:0;
}
ul.noticias li strong{color:#999}
ul.noticias li{ 
	border-bottom:1px solid #eee;
	padding:12px 0;
}

ul.noticias li a{ color:#333333; font-weight:normal;}
 
 
 
 
.nav.menulateral>li>a{
	background-color:#007aa4;
	color:#fff;
	padding:5px 10px;
	margin-bottom:1px;
	font-size:0.9em;
	font-weight:normal;
}
.nav.menulateral>li>a:hover{
	background-color:#00a6df; 
} 
 

.servicos{
	background:url(../img/bg_rodape.jpg);
	padding:25px 0 25px 0;
	margin-top:20px;
	color:#6a6a6c;
}
.servicos p{
	color:#6a6a6c;
}
.servicos h2{
	color:#6a6a6c;
	text-transform:uppercase;
	font-size:1em;
	font-family: 'PT Sans', sans-serif; 
}
.servicos a{
	color:#6a6a6c;
}
.boxcontato{
	text-align:center;
	border-left:1px solid #999; 
}
.boxcontato p{
	margin-bottom:10px;
	text-align:center;
}
.boxcontato h2{
	margin:0;
	font-weight:bold;
}
.boxcontato, .boxcontato a, .boxcadastro, .boxcadastro a{ 
	color:#servicos; 
}  
.boxmenu ul{ 
	margin:0;
	padding:0;
}
.boxmenu ul li a{
	color:#6a6a6c;
	font-weight:normal;
}
.secao, .boxmenu ul li a.secao{
	text-transform:uppercase;
	font-weight:bold;
}
.navfooter{
	margin:20px 0;
}
.logosrodape p,.logosrodape img{ 
	font-size:0.8em;
}
.nomerodape h2{
	font-size:1em;
	color:#666;
} 

.divbreadcrumbs{
	background-color:#c1c1c1;
	height:20px;
	text-align:right;
	font-size:0.8em;
	margin-top:-11px;
	margin-bottom:20px;
}
.breadcrumb{
	background-color: transparent;
	padding:4px 15px;
}
div.divbreadcrumbs a{
	color:#f1f1f1;
	font-weight:normal;
}
.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #f1f1f1;
	content: ">\00a0";
}
.breadcrumb>.active {
	color: #f1f1f1;
}
.box_conteudo{
	min-height:300px;
}
.box_conteudo ul li{
	list-style: url(../img/bullet.gif);
	font-size:0.9em;
	line-height:1.6em;
	color:#333333; 
	text-align:justify;
}
.clientes img, .media-object, .clientebox{
	border:1px solid #eee;
	text-align:center;
}
.clientes div{
	margin-bottom:30px;
}
.depoimento{
	padding:10px 0 25px 0;
	border-bottom:1px dotted #ccc;
}
.depoimento p{
	margin-bottom:0;
	font-style:italic; 
}
.boxservicos{
	margin-bottom:20px;
}
.boxservicos img{
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
.servico{
	display:block;
	padding:8px;
	color:#fff; 
	line-height:1em;
	min-height: 51px;
}
.cor1{background:#f69233; border-bottom:7px solid #f3802c;}
.cor2{background:#eb3127; border-bottom:7px solid #d90906;}
.cor3{background:#a4744b; border-bottom:7px solid #8c5b36;}
.cor4{background:#dbad71; border-bottom:7px solid #d59c5b;}
.cor5{background:#253347; border-bottom:7px solid #151e2d;}
.cor6{background:#6faad0; border-bottom:7px solid #4f8dbd;}
.cor7{background:#206c52; border-bottom:7px solid #124d36;}
.cor8{background:#8ca77b; border-bottom:7px solid #6c8a5b;}
.cor9{background:#611967; border-bottom:7px solid #430d48;}
.cor10{background:#836385; border-bottom:7px solid #634465;} 

.boxcase, .boxnoticias{
	border-bottom:1px solid #eee;
	padding:15px 0 15px 0;
}

.premios{
	margin:10px 0;
	min-height:160px;
}
.premios, .premios h2, .premios p{
	text-align:center;
}
.premios h2{
	color:#cf1328;
	font-weight:bold; 
	font-size:1em;
	margin-bottom:0;
}

@media (min-width: 992px){
.container {
	max-width: 1020px;
}
}

@media (max-width: 768px) { 
.box_news{  
	margin-bottom:20px;
}
.navfooter{
	margin: 0 0 20px 0;
}
.nomerodape{
	margin-bottom:10px;
}
.servico{
	min-height: 65px;
}
} 

/* iPhone 2G-4S in landscape */
@media (min-width: 320px) and (max-width: 480px){
body{
	background:none;
}
.boxmenu{
	margin-bottom:10px; 
}
.boxcontato{
	text-align:left;
	border-left:0;
}
.boxcontato p{
	text-align:left;
}
.nomerodape{
	margin-bottom:20px;
}
.logosrodape{
	margin-bottom:20px;
}

.navbar-collapse{
	padding-right: 15px;
	padding-left: 15px;
	max-height:400px;
}
.navbar-nav>li>a{
	padding:0;
	height: auto;
	margin-right: 0;
	padding:10px 5px;
	cursor: pointer;
}
.nav>li>a:hover, .nav>li>a:focus, .nav>li.open>a, .nav>li.open>a:focus{
	background:#eee;
	border-bottom:0;
}  

}